@import "tailwindcss";
@plugin "daisyui";

@theme{
   --breakpoint-md:627px;
   --breakpoint-osas:627px;
   --breakpoint-khan:1116px;
}

.animate-spin-slow {
    animation: spin 1.5s linear infinite; /* Adjust the duration as needed */
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* .animate-spin-delay {
    animation-delay: 1000ms;
} */
 